flows.json
[{"id":"db61f39d.52174","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"2b572485.47ca7c","type":"debug","z":"db61f39d.52174","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":40,"wires":[]},{"id":"686d23d0.18a92c","type":"ibmiot in","z":"db61f39d.52174","authentication":"apiKey","apiKey":"17be8c53.db7554","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":300,"wires":[["7ab4ea73.a2e484","c096a9a4.de3c28","bd6f9bdf.3e8328","c9baccb4.2d7ad","ce65221e.4c184"]]},{"id":"7ab4ea73.a2e484","type":"function","z":"db61f39d.52174","name":"Temperature","func":"global.set('Temperature',msg.payload.Temperature);\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":160,"wires":[["2b572485.47ca7c","a329ff7d.2a218"]]},{"id":"c096a9a4.de3c28","type":"function","z":"db61f39d.52174","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity);\nmsg.payload=msg.payload.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":240,"wires":[["2b572485.47ca7c","7d3a2239.97bfbc"]]},{"id":"a329ff7d.2a218","type":"function","z":"db61f39d.52174","name":"","func":"\nif(msg.payload>60)\n{\n    return msg;\n}\nelse\n{\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":100,"wires":[["7f54465b.920b38"]]},{"id":"c1278c37.718b7","type":"debug","z":"db61f39d.52174","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":200,"wires":[]},{"id":"7d3a2239.97bfbc","type":"function","z":"db61f39d.52174","name":"","func":"if(msg.payload>40)\n{\n    return msg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":240,"wires":[["7f54465b.920b38"]]},{"id":"7f54465b.920b38","type":"http request","z":"db61f39d.52174","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=NqWi4F6DO8pAraeRBnIVQ0YhsXUKEoxzZv9u7PbGf5CTyHcSMguvW7lNfEyin1FaGAMThDwBLqSbKJm6&sender_id=FSTSMS&message=Abnormal%20Atmospheric%20conditions%20at%20latitude:17.4399%20longitude:78.4983&language=english&route=p&numbers=9618587083","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":200,"wires":[["c1278c37.718b7"]]},{"id":"bd6f9bdf.3e8328","type":"function","z":"db61f39d.52174","name":"AirQuality","func":"global.set('AirQuality',msg.payload.AirQuality);\nmsg.payload=msg.payload.AirQuality;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":320,"wires":[["5e79b094.8f727","2b572485.47ca7c"]]},{"id":"5e79b094.8f727","type":"function","z":"db61f39d.52174","name":"","func":"if(msg.payload>30)\n{\n    return msg;\n}\nelse\n{\n    return null;\n}    \n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":380,"wires":[["7f54465b.920b38"]]},{"id":"bd38aa2c.6d9e58","type":"http in","z":"db61f39d.52174","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":80,"y":520,"wires":[["d0116e64.f0a38"]]},{"id":"5f49ef1a.ac4a9","type":"http response","z":"db61f39d.52174","name":"","statusCode":"","headers":{},"x":490,"y":520,"wires":[]},{"id":"d0116e64.f0a38","type":"function","z":"db61f39d.52174","name":"","func":"msg.payload={'Temperature':global.get(\"Temperature\"),'Humidity':global.get(\"Humidity\"),'AirQuality':global.get(\"AirQuality\"),'Latitude':global.get(\"Latitude\"),'Longitude':global.get(\"Longitude\")};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":520,"wires":[["5f49ef1a.ac4a9"]]},{"id":"ce65221e.4c184","type":"function","z":"db61f39d.52174","name":"Longitude","func":"global.set('Longitude',msg.payload.Longitude);\nmsg.payload=msg.payload.Longitude;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":440,"wires":[["2b572485.47ca7c"]]},{"id":"c9baccb4.2d7ad","type":"function","z":"db61f39d.52174","name":"Latitude","func":"global.set('Latitude',msg.payload.Latitude);\nmsg.payload=msg.payload.Latitude;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":380,"wires":[["2b572485.47ca7c"]]},{"id":"17be8c53.db7554","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]